@media screen and (max-width: 992px) {
  .product-cart .cart-warning {
    margin: 30px 0 20px 0;
  }
  .product-cart .count {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .product-cart .item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .product-cart .item .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .product-cart .item .info .title {
    margin-top: -50px;
  }
  .product-cart .item .info .title .new {
    position: absolute;
    top: 14px;
    left: 60px;
  }
  .product-cart .item .info .price {
    margin-top: -75px;
  }
  .product-cart .item .info .counter {
    margin: 0;
    margin-top: 40px;
  }
}
