@media screen and (max-width: 992px) {
  .certificates {
    min-height: 90vh;
  }
}

@media screen and (max-width: 767px) {
  .certificates {
    padding-bottom: 0px;
    min-height: auto;
  }
  .certificates .certificates-wrapper {
    height: auto;
  }
  .certificates .certificates-wrapper .owl-stage-outer .owl-stage {
    width: 100% !important;
    -webkit-transform: none !important;
            transform: none !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .certificates .certificates-wrapper .owl-stage-outer .owl-stage .owl-item {
    width: 70% !important;
    height: auto;
  }
  .certificates .certificates-wrapper .owl-stage-outer .owl-stage .owl-item .item {
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 80px;
  }
  .certificates .certificates-wrapper .owl-stage-outer .owl-stage .owl-item .item img {
    width: 100%;
    height: auto;
  }
  .certificates .certificates-wrapper .owl-stage-outer .owl-stage .owl-item .item .zoom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .overlay .magnify {
    height: auto;
    width: 80vw;
  }
  .overlay .magnify img {
    height: auto;
    width: 100%;
  }
}
