@media screen and (max-width: 992px) {
    .shop-categories {
        padding-top: 12px;

        .categoriesWrapper {
            padding-bottom: 12px;
        }
    }

    // Карточка товара 

    .product-item {
        .info {
            .action {
                width: 100%;
                padding: 17px 23px;
                justify-content: space-between;

                .count {
                    span {
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .filter {
        .filterWrapper {
            .left {
                p {
                    display: none;
                }
            }

            .right {
                .sort {
                    width: 150px;

                    select {
                        width: 100%;
                    }
                }
            }
        }
    }

    .shop {
        .item {
           .bottom {
               .addToCart {   
                    background-color: #FE6E27;
                    padding: 10px;
                    span {
                        color: #fff;
                        font-size: 12px;
                    }

                    .icon {
                        display: none;
                    }
                }
           } 
        }
    }

    .subscribe {
        .subscribeWrapper {

            .title {
                text-align: center;
            }

            span {
                width: 100%;
            }

            .form {
                flex-direction: column;
                width: 100%;

                input {
                    width: 100%;
                }
            }

        }
    }


    // Карточка товара 

    .product-item {
        padding-top: 70px;

        .info {
            .title {
                position: absolute;
                top: 20px;
                left: 15px;
            }

            .sale {
                position: absolute;
                top: 70px;
                right: 15px;
            }

            .reviews {
                margin-top: 20px;
            }
        }
    }
}